$font-color: #ffffff;
$bg-color: #363636;

$bg-color-room: #588dbe;
$bg-color-room-dark: #143464;
$bg-color-floor: #f4d29c;
$bg-color-floor-dark: #c7b08b;
$bg-color-cabinet: #796755;
$bg-color-modal: #285cc4;

$border-color-modal-outer: #8b93af;
$border-color-modal-inner: #4a5462;
$border-color-cabinet: #a08662;
$border-color-phone: #221c1a;

$font-color-white: #ffffff;
$font-color-black: #060608;

$font-color-gray-100: #dae0ea;
$font-color-gray-200: #b3b9d1;
$font-color-gray-300: #8b93af;
$font-color-gray-400: #6d758d;
$font-color-gray-500: #4a5462;

$font-color-error-modal: #fffc40;

$font-size-100: 1rem;
$font-size-150: 1.5rem;
$font-size-200: 2rem;
$font-size-250: 2.5rem;
$font-size-300: 3rem;
