@import "./_variables.scss";
@import "./reset.scss";
@import "./components/musicPlayer/musicControls.scss";
@import "./components/musicPlayer/musicList.scss";
@import "./components/playlist.scss";
@import "./components/modal.scss";
@import "./components/phone.scss";
@import url("//cdn.jsdelivr.net/gh/neodgm/neodgm-pro-webfont@1.020/neodgm_pro/style.css");
.font-neodgm-pro {
  font-family: "NeoDunggeunmo Pro";
}
body {
  color: $font-color;
  height: 100vh;
  background-color: $bg-color-room;
  font-family: "NeoDunggeunmo Pro";
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.room-dark {
  background-color: $bg-color-room-dark;
}
.floor {
  position: absolute;
  height: calc(100vh - 656px);
  width: 100vw;
  bottom: -16px;
  background-color: $bg-color-floor;
}
.floor-dark {
  background-color: $bg-color-floor-dark;
}

.home-container {
  position: relative;
  width: 1280px;
  height: 100vh;
  .object {
    position: absolute;
  }
  #phone-icon {
    position: absolute;
    left: 16px;
    top: 16px;
    font-size: 2.5rem;
    cursor: pointer;
  }
  #phone-icon:hover {
    color: $font-color-error-modal;
  }
  #window {
    width: 352px;
    height: 256px;
    left: 126px;
    top: 144px;
  }
  #bed {
    width: 416px;
    height: 208px;
    left: 96px;
    top: 448px;
    cursor: pointer;
  }
  #cabinet {
    width: 256px;
    height: 512px;
    left: 512px;
    top: 128px;
    background-color: $bg-color-cabinet;
    border: 8px solid $border-color-cabinet;
    display: flex;
    flex-direction: column;
    .cabinet-container {
      display: flex;

      width: 256px;
      height: 96px;
      border-bottom: 8px solid $border-color-cabinet;

      .playlist {
        width: 80px;
        height: 96px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        img {
          pointer-events: none;
        }
      }
      .playlist:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  #tv {
    width: 288px;
    height: 176px;
    left: 816px;
    top: 64px;
    cursor: pointer;
  }
  #monitor {
    width: 288px;
    height: 176px;
    left: 816px;
    top: 256px;
    cursor: pointer;
  }
  #desk {
    width: 384px;
    height: 208px;
    left: 784px;
    top: 464px;
  }
  #coffee {
    width: 64px;
    height: 96px;
    left: 1104px;
    top: 368px;
  }
  #chair {
    width: 224px;
    height: 368px;
    left: 848px;
    top: 288px;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
}
