@import "./_variables.scss";
@import "./reset.scss";
@import url("//cdn.jsdelivr.net/gh/neodgm/neodgm-pro-webfont@1.020/neodgm_pro/style.css");
.font-neodgm-pro {
  font-family: "NeoDunggeunmo Pro";
}
body {
  color: $font-color;
  height: 100vh;
  background-color: $bg-color-room;
  font-family: "NeoDunggeunmo Pro";
}

.room-dark {
  background-color: $bg-color-room-dark;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.floor {
  position: absolute;
  height: calc(100vh - 656px);
  width: 100vw;
  bottom: -16px;
  background-color: $bg-color-floor;
}
.floor-dark {
  background-color: $bg-color-floor-dark;
}
.home-container {
  position: relative;
  width: 1280px;
  height: 100vh;

  //border: 1px solid black;

  .object {
    position: absolute;
  }
  #phone {
    transition: transform 0.4s ease-out;
    top: 16px;
    left: 64px;
    width: 256px;
    height: 512px;
    transform: translateX(-100vw);
    background-color: $font-color-gray-500;
    color: $font-color-white;
    padding: 0 16px 16px 16px;
    border: 8px solid $border-color-phone;
    border-radius: 32px;
    .phone-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .header {
        display: flex;
        width: 100%;
        font-size: 12px;

        justify-content: space-between;
        .telecom {
          margin-top: 8px;
          margin-left: 8px;
          width: 20%;
        }
        .empty-space {
          width: 60%;
          height: 24px;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          background-color: $border-color-phone;
          display: flex;
          justify-content: center;
          align-items: center;
          .speaker {
            width: 24px;
            height: 4px;
            border-radius: 4px;
            background-color: #333941;
          }
        }
        .status-container {
          display: flex;

          margin-top: 8px;
          margin-right: 4px;
          justify-content: end;
          width: 20%;
          .status-center {
            margin: 0px 2px;
          }
        }
      }
      .time-container {
        height: 96px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;

        .time {
          font-size: 80px;
        }
        .greeting {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 48px;
          font-size: 32px;
        }
      }
      .dock {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        .phone-app {
          width: 48px;
          height: 48px;
          margin: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 8px;
          background-color: #285cc4;
          cursor: pointer;
          font-size: 1.5rem;
        }
        #playlist-creation {
          background-color: #59c135;
        }

        #music-registration {
          background-color: #e86a73;
        }
      }
      .back-button {
        position: absolute;
        right: 0;
        top: 16px;
        background-color: inherit;
        font-size: 16px;
        border: none;
        color: $font-color-white;
        cursor: pointer;
      }

      .back-button:hover {
        color: #fffc40;
      }
      .phone-form-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        form {
          .form-input {
            label {
              margin-bottom: 8px;
            }
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
          }
          .error_message {
            margin-top: 1rem;
            color: tomato;
          }
          .thumbnails {
            width: 256px;
            height: 176px;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  #phone.visible {
    transform: translateX(0);
  }
  #phone-icon {
    position: absolute;
    left: 16px;
    top: 16px;
    font-size: 2.5rem;
    cursor: pointer;
  }
  #phone-icon:hover {
    color: $font-color-error-modal;
  }
  #window {
    width: 352px;
    height: 256px;
    left: 126px;
    top: 144px;
  }
  #bed {
    width: 416px;
    height: 208px;
    left: 96px;
    top: 448px;
    cursor: pointer;
  }
  #cabinet {
    width: 256px;
    height: 512px;
    left: 512px;
    top: 128px;
    background-color: $bg-color-cabinet;
    border: 8px solid $border-color-cabinet;
    display: flex;
    flex-direction: column;
    .cabinet-container {
      display: flex;

      width: 256px;
      height: 96px;
      border-bottom: 8px solid $border-color-cabinet;

      .playlist {
        width: 80px;
        height: 96px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        img {
          pointer-events: none;
        }
      }
      .playlist:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  #tv {
    width: 288px;
    height: 176px;
    left: 816px;
    top: 64px;
    cursor: pointer;
  }
  #monitor {
    width: 288px;
    height: 176px;
    left: 816px;
    top: 256px;
    cursor: pointer;
  }
  #desk {
    width: 384px;
    height: 208px;
    left: 784px;
    top: 464px;
  }
  #coffee {
    width: 64px;
    height: 96px;
    left: 1104px;
    top: 368px;
  }
  #chair {
    width: 224px;
    height: 368px;
    left: 848px;
    top: 288px;
    cursor: pointer;
  }
  #modal {
    width: 832px;
    height: 512px;
    background-color: $bg-color-modal;
    padding-bottom: 8px;
    top: 60px;
    left: 256px;
    color: white;
    position: relative;
    border: 8px $border-color-modal-outer solid;

    .close-button {
      position: absolute;
      right: 16px;
      top: 16px;
      background-color: $border-color-modal-outer;
      border: $border-color-modal-outer outset 3px;
      color: white;
      cursor: pointer;
    }
    .close-button:hover {
      background-color: white;
      color: $border-color-modal-outer;
    }
    .modal-content {
      height: 100%;

      .form-container {
        border: $border-color-modal-inner 4px solid;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .error_message {
          margin-bottom: 0.5rem;
          color: $font-color-error-modal;
        }
        form {
          font-size: $font-size-150;
          display: flex;
          flex-direction: column;
          .form-input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            input {
              margin: 0.5rem 0;
            }
            span {
              font-size: $font-size-100;
              color: $font-color-gray-100;
            }
          }
          input[type="submit"] {
            background-color: inherit;
            border: white outset 3px;
            font-size: $font-size-150;
            background-color: white;
            font-family: "NeoDunggeunmo Pro";
            color: $bg-color-modal;

            align-self: center;
            padding: 0.5rem;
            cursor: pointer;
          }
          input[type="submit"]:hover {
            color: white;
            background-color: $bg-color-modal;
          }
        }

        .link-container {
          margin-top: 1rem;
          a {
            color: white;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
.playlist-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 10rem;
  .back-button {
    position: absolute;
    left: 16px;
    top: 16px;
    background-color: inherit;
    border: none;
    font-size: 48px;
    color: $font-color-white;
    cursor: pointer;
  }
  .back-button:hover {
    color: #fffc40;
  }
  .info-container {
    width: 100%;
    display: flex;
    margin: 2rem 0;
    padding: 2rem;
    .image {
      width: 208px;
      height: 208px;
      background-color: white;
      color: $bg-color-room;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-300;
    }
    .image-container {
      display: grid;
      grid-template-columns: repeat(2, 104px);
      grid-template-rows: repeat(2, 104px);
      width: 208px;
      height: 208px;

      img {
        width: 104px;
        height: 104px;
      }
    }
    .info {
      padding: 0rem 2rem;
      .name {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 0.5rem;
        margin-bottom: 1.5rem;
      }
      .profileName {
        margin-bottom: 0.5rem;
      }
      .duration {
        margin-bottom: 0.5rem;
      }
      .description {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }
      .play-button {
        border: none;
        background-color: white;
        color: $bg-color-room;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        cursor: pointer;
      }
      .play-button:hover {
        background-color: #fffc40;
      }
    }
  }
  .music-list-container {
    width: 100%;
    padding: 0rem 2rem;
    position: relative;

    .music-container {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid white;
      .image {
        width: 48px;
        height: 48px;
        background-color: tomato;
        margin-right: 1rem;
      }
      .title {
        width: 50%;
      }
      .artist {
        width: 20%;
      }
      .duration {
        position: absolute;
        right: 2rem;
      }
      .add-music-button {
        border: none;
        background-color: white;
        color: $bg-color-room;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        cursor: pointer;
      }
      .add-music-button:hover {
        background-color: #fffc40;
      }
    }
  }
  .music-list-container:last-child {
    padding-bottom: 128px;
  }
  .recommended-music-list {
    .rank {
      margin-right: 1rem;
    }
  }
  .search-container {
    width: 100%;
    padding: 2rem;
    #music-search-form {
      width: 100%;
      display: flex;

      #searchWord {
        width: 300px;
      }
    }
    input[type="submit"] {
      border: none;
      background-color: white;
      color: $bg-color-room;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 20px;
      margin-left: 8px;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #fffc40;
    }
  }
  .music-list-title {
    padding: 0rem 2rem 0 2rem;
  }
}
#music-list {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  transition: transform 0.35s ease-in-out;
  transform: translateY(100vh);
  .container {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    height: 100%;
    width: 100%;
    #player {
      width: 60rem;
      height: 34rem;
      background-color: transparent;
      margin: 0 2rem;
    }
    #list-container {
      margin-bottom: 160px;
      overflow-y: scroll;
      overflow-x: hidden;

      .music-container {
        display: flex;
        align-items: center;
        margin: 1rem;
        background: rgba(74, 84, 98, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        padding: 0.5rem;
        .image {
          width: 4rem;
          height: 4rem;
          border-radius: 16px;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
        }
        .info {
          margin: 0 1rem;
          div {
            padding: 0.5rem;
          }
        }
      }
      .music-container:first-child {
        margin-top: 0;
      }
    }
  }
}

#music-list.visible {
  transform: translateY(0);
}

#music-controls {
  position: fixed;
  background: rgba(74, 84, 98, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 16px;
  bottom: 1rem;
  width: calc(100% - 64px);
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0 1rem;
  .music-info {
    display: flex;
    align-items: center;
    width: 240px;

    .image {
      width: 64px;
      height: 64px;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
    }
    .info-container {
      width: 176px;
      height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      overflow: hidden;

      .title {
        font-size: 16px;
      }
      .artist {
        font-size: 8px;
      }
    }
  }
  .play-contorls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64px;

    align-items: center;
    width: 30%;
    .play-buttons {
      .player-btn {
        font-size: $font-size-200;
        margin: 0px 0.5rem;
      }
      #play-btn {
      }
    }

    .player-bar {
      display: flex;
      align-items: center;
      width: 100%;
      #timeline {
        width: 100%;
        margin-bottom: 6px;
      }
      span {
        margin: 0px 6px;
      }
    }
  }
  .volume-controls {
    display: flex;
    align-items: center;
  }
  button {
    background-color: inherit;
    border: none;
    color: $font-color-white;
  }
}
