.playlist-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
  .back-button {
    position: absolute;
    left: 16px;
    top: 16px;
    background-color: inherit;
    border: none;
    font-size: 48px;
    color: $font-color-white;
    cursor: pointer;
  }
  .back-button:hover {
    color: #fffc40;
  }
  .info-container {
    display: flex;
    margin: 2rem 0;
    padding: 2rem;
    .image {
      width: 208px;
      height: 208px;
      background-color: white;
      color: $bg-color-room;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-300;
    }
    .image-container {
      display: grid;
      grid-template-columns: repeat(2, 104px);
      grid-template-rows: repeat(2, 104px);
      width: 208px;
      height: 208px;

      img {
        width: 104px;
        height: 104px;
      }
    }
    .info {
      padding-left: 2rem;
      height: 208px;
      .name {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 0.5rem;
        margin-bottom: 1.5rem;
      }
      .profileName {
        margin-bottom: 0.5rem;
      }
      .duration {
        margin-bottom: 0.5rem;
      }
      .description {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }
      .playlist-buttons {
        display: flex;
        .play-button,
        .edit-complete-button {
          margin-right: 8px;
          border: none;
          background-color: white;
          color: $bg-color-room;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border-radius: 4px;
          cursor: pointer;
        }
        .play-button:hover,
        .edit-complete-button:hover {
          background-color: #fffc40;
        }
        .edit-button,
        .edit-cancle-button {
          background-color: transparent;
          border: none;
          color: white;
          width: 48px;
          height: 48px;
          cursor: pointer;
        }
        .edit-button:hover,
        .edit-cancle-button:hover {
          color: #fffc40;
        }

        .remove-playlist-button {
          background-color: transparent;
          border: none;
          color: #fffc40;
          width: 48px;
          height: 48px;
          cursor: pointer;
        }
        .remove-playlist-button:hover {
          color: #df3e23;
        }
      }
    }
    #playlist-edit-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input {
        border: none;
        padding: 4px;
      }
    }
  }
  .music-list-container {
    width: 100%;
    padding: 0rem 2rem;
    position: relative;

    .music-container {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid white;
      .image {
        width: 48px;
        height: 48px;
        margin-right: 1rem;
      }
      .title {
        width: 50%;
      }
      .artist {
        width: 20%;
      }
      .duration {
        position: absolute;
        right: 2rem;
      }
      .add-music-button,
      .remove-music-button {
        border: none;
        background-color: white;
        color: $bg-color-room;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        cursor: pointer;
      }
      .add-music-button:hover,
      .remove-music-button:hover {
        background-color: #fffc40;
      }
    }
  }
  .music-list-container:last-child {
    padding-bottom: 128px;
  }
  .recommended-music-list {
    .rank {
      margin-right: 1rem;
    }
  }
  .search-container {
    width: 100%;
    padding: 2rem;
    #music-search-form {
      width: 100%;
      display: flex;

      #searchWord {
        width: 300px;
      }
    }
    input[type="submit"],
    input[type="button"] {
      border: none;
      background-color: white;
      color: $bg-color-room;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 20px;
      margin-left: 8px;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="submit"]:hover,
    input[type="button"]:hover {
      background-color: #fffc40;
    }
  }
  .music-list-title {
    padding: 0rem 2rem 0 2rem;
  }

  .hidden {
    visibility: hidden;
  }
}
