doctype html
html(lang="ko")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 당신의 작업실
    link(rel="stylesheet", href="/static/css/styles.css")
    link(rel="icon" type="image/x-icon" href="/images/favicon.png")
  body
    div(id="app")
    script(src="/static/js/main.js" type="module")
    script(src="https://kit.fontawesome.com/c560ecab76.js" crossorigin="anonymous")